[Unit]
Description=RFID Card Reader
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python /opt/juk/card-reader/card-reader.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
