[Unit]
Description=Skip Track Button
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python /opt/juk/card-reader/next-track.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
